/* Для обычных кнопок btn-primary */
.btn-primary {
    background-color: black;
    border-color: black;
    color: white;
}

.btn-primary:hover {
    background-color: #333;
    border-color: #333;
    border-color: black;
}

/* Для кнопок с контуром btn-outline-primary */
.btn-outline-primary {
    color: black;
    border-color: black;
}

.btn-outline-primary:hover {
    background-color: black;
    color: white;
    border-color: black;
}
